/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.header {
    background-color: #1C1C1E;
    color: #F4F4F6;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px #6B42C9 (0, 0, 0, 0.2);
}

/* Estilo do Logo */
.logo-code{
    color: #F4F4F6;
    margin-left: 50px;
}

.logo-stack{
    color: #4A90E2
}

.logo-codestack{
    cursor: pointer;
}

.logo{
    text-decoration: none;
}

/* Estilos da Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;

}

.nav-links li {
    margin-left: 1.5rem;
    margin-right: 80px;

}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #1C1C1E;
    background-color: #00E6FF;
    background: linear-gradient(to right, #6B42C9, #00E6FF) ;
    border-radius: 20px;
    padding: 1rem 1rem;

}

.body {
    background-color: #1C1C1E;

}

.titulo-principal{
    color: #F4F4F6;
    margin-top: 20vh;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    height: 40%;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.descricao-principal{
    color: #d6dad6;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    height: 40%;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.noticias{
    color: #F4F4F6;
    margin: 100px auto auto auto;
    display: flex;
    height: 40%;
    gap: 30px;
    justify-content: center;
    align-items: stretch;
    width: 90vw;
    max-width: 90vw;

}

.noticias article{
    justify-content: center;
    justify-items: center;
}

.noticias article h2{
    color: #F4F4F6;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.noticias article p{
    color: #d6dad6;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

article h2 a {
    color: #4A90E2;
    text-decoration: none;
}

article h2 a:hover {
    color: #F4F4F6;
    text-decoration: none;
}


.noticias article:hover {
    background: linear-gradient(to right, #6B42C9, #00E6FF) ;
    border-radius: 20px;
    padding: 1rem 1rem;
}



.imagem-noticia-python{
    width: 283px;
    height: 178px;
    object-fit: cover;
}

.imagem-noticia-bootcamp{
    width: 283px;
    height: 178px;
    object-fit: cover;
}

.imagem-noticia-ai{
    width: 283px;
    height: 178px;
    object-fit: cover;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 1rem;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

footer{
    color: #d6dad6;
    text-align: center;
    justify-content: center;
    margin: 5vh 5vh 5vh 5vh;
}


/* tamanho perfeito da imagem: 283 x 178 px*/

/*cursos.html*/
.titulo-cursos{
    color: #F4F4F6;
    margin-top: 20vh;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    height: 40%;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.descricao-cursos{
    color: #d6dad6;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    height: 40%;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.cursos h2{
    color: #F4F4F6;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.cursos p{
    color: #d6dad6;
    font-size: 1rem;
    text-align: left;
    justify-content: center;
    margin: 5vh 20vh 5vh 20vh;   
}

.cursos img{
    width: 750px;
    height: 442px;
    justify-content: center;
    text-align: center;
    margin: 0 50vh 0 50vh;
    
}

article b{
    color: #F4F4F6;
    font-size: 1rem;
    margin: 2vh 20vh 2vh 20vh;
}

article ul{
    list-style-type: disc;
    margin: 2vh 22vh 2vh 22vh;
    color: #d6dad6;
}

article ol{
    list-style-type: number;
    margin: 2vh 22vh 2vh 22vh;
    color: #d6dad6;
}

.cursos article h2 a {
    color: #F4F4F6;
    text-decoration: none;
}

.cursos article h2 a:hover {
    color: #4A90E2;
    text-decoration: none;
}