/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.header {
    background-color: #1C1C1E;
    color: #F4F4F6;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px #6B42C9 (0, 0, 0, 0.2);
}

/* Estilo do Logo */
.logo-code{
    color: #F4F4F6;
    margin-left: 50px;
}

.logo-stack{
    color: #4A90E2
}

.logo-codestack{
    cursor: pointer;
}

/* Estilos da Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;

}

.nav-links li {
    margin-left: 1.5rem;
    margin-right: 80px;

}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #1C1C1E;
    background-color: #00E6FF;
    background: linear-gradient(to right, #6B42C9, #00E6FF) ;
    border-radius: 20px;
    padding: 1rem 1rem;

}

.body {
    background-color: #1C1C1E;

}

.titulo-principal{
    color: #F4F4F6;
    margin-top: 200px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    height: 40%;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.descricao-principal{
    color: #F4F4F6;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    height: 40%;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.noticias{
    color: #F4F4F6;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    height: 40%;
    gap: 30px;
    justify-content: center;
    align-items: center;

}



.noticias article:hover {
    background: linear-gradient(to right, #6B42C9, #00E6FF) ;
    border-radius: 20px;
    padding: 1rem 1rem;
}

.imagem-noticia-curso{
    width: 283px;
    height: 178px;
    object-fit: cover;
}

.imagem-noticia-python{
    width: 283px;
    height: 178px;
    object-fit: cover;
}

.imagem-noticia-bootcamp{
    width: 283px;
    height: 178px;
    object-fit: cover;
}

.imagem-noticia-ai{
    width: 283px;
    height: 178px;
    object-fit: cover;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 1rem;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* tamanho perfeito da imagem: 283 x 178 px*/